              <div class="row gx-5">
                <div class="col-md-4">

                  <div class="card mb-4">
                    <!--<img src="/img/data-afghan.png" class="card-img-top" alt="Survey image">-->
                    <div class="card-body">
                      <h5 class="card-title" style="font-family: 'Merriweather', serif !important;">Deportation Data Project</h5>
                      <h6 class="card-subtitle mb-2 text-body-secondary">with David Hausman and Amber Qureshi</h6>
                      <p class="card-text">
                        We collect and post public, anonymized U.S. government immigration enforcement datasets. We use the Freedom of Information Act to gather datasets directly from the government, and we also post datasets that the government has posted proactively or in response to others’ requests.
                      </p>
                      <a href="https://deportationdata.org" class="card-link">deportationdata.org</a>
                    </div>
                  </div>
                  
                  <div class="card mb-4">
                    <img src="/img/data-afghan.png" class="card-img-top" alt="Survey image">
                    <div class="card-body">
                      <h5 class="card-title" style="font-family: 'Merriweather', serif !important;">Survey in Afghanistan</h5>
                      <h6 class="card-subtitle mb-2 text-body-secondary">With Jason Lyall and Kosuke Imai</h6>
                      <p class="card-text">
                        Attitudes and behaviors of civilians in wartime Afghanistan related to the Taliban and ISAF coalition forces.
                      </p>
                      <!-- Toggle link placed inside card-body -->
                      <a href="#" data-bs-toggle="collapse" data-bs-target="#afghanDataCollapse" aria-expanded="false" aria-controls="afghanDataCollapse">
                        <i class="far fa-arrow-alt-circle-down no-indent"></i> More details
                      </a>
                      <!-- Place the collapse element inside the same card-body -->
                      <div class="collapse mt-3" id="afghanDataCollapse">
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">
                            <dt>Where</dt>
                            <dd>Five provinces of Afghanistan — Helmand, Khost, Kunar, Logar, and Urozgan</dd>
                          </li>
                          <li class="list-group-item">
                            <dt>When</dt>
                            <dd>18 January and 3 February 2011</dd>
                          </li>
                          <li class="list-group-item">
                            <dt>Sampling design</dt>
                            <dd>Multi-stage sample of provinces, districts, villages, households, and adults.</dd>
                          </li>
                          <li class="list-group-item">
                            <dt>Survey implementer</dt>
                            <dd>Opinion Research Center of Afghanistan (private firm)</dd>
                          </li>
                        </ul>
                        <div class="card-body">
                          <a href="https://dataverse.harvard.edu/api/access/datafile/:persistentId?persistentId=doi:10.7910/DVN/CXNXEZ/OVT8EF" class="card-link">Data</a>
                          <!-- <a href="#" class="card-link">Survey instrument</a> -->
                          <a href="https://graemeblair.com/papers/afghan.pdf" class="card-link">Related paper</a>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="col-md-4">
                  
                  <div class="card mb-4">
                    <!--<img src="/img/data-afghan.png" class="card-img-top" alt="Survey image">-->
                    <div class="card-body">
                      <h5 class="card-title" style="font-family: 'Merriweather', serif !important;">Survey in Maiduguri, Nigeria</h5>
                      <h6 class="card-subtitle mb-2 text-body-secondary">with Rebecca Littman and Rebecca Wolfe</h6>
                      <p class="card-text">
                      	 Survey on attitudes, norms, and behavioral intentions regarding reconciliation with former members of Boko Haram.
                      </p>
                      <a href="https://doi.org/10.17605/OSF.IO/PU5YR" class="card-link">Replication data</a>
                    </div>
                  </div>
                  
                  <div class="card mb-4">
                    <img src="/img/data-nollywood.jpg" class="card-img-top" alt="Survey image">
                    <div class="card-body">
                      <h5 class="card-title" style="font-family: 'Merriweather', serif !important;">Survey in Niger Delta, Nigeria</h5>
                      <h6 class="card-subtitle mb-2 text-body-secondary">with Rebecca Littman and Elizabeth Levy Paluck</h6>
                      <p class="card-text">
                        Norm perceptions, attitudes, and behavioral intentions regarding public corruption and corruption reporting of people living in four states in the Niger Delta region in Southeastern Nigeria. 
                      </p>
                      <!-- Toggle link placed inside card-body -->
                      <a href="#" data-bs-toggle="collapse" data-bs-target="#nollywoodDataCollapse" aria-expanded="false" aria-controls="nollywoodDataCollapse">
                        <i class="far fa-arrow-alt-circle-down no-indent"></i> More details
                      </a>
                      <!-- Place the collapse element inside the same card-body -->
                      <div class="collapse mt-3" id="nollywoodDataCollapse">
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">
                            <dt>Where</dt>
                            <dd>Four states in Nigeria: Awka Ibom, Bayelsa, Delta, and Rivers</dd>
                          </li>
                          <li class="list-group-item">
                            <dt>When</dt>
                            <dd>February 18, 2014 - May, 11 2014 (endline)</dd>
                          </li>
                          <li class="list-group-item">
                            <dt>Sampling design</dt>
                            <dd>106 randomly-selected communities defined by mobile phone coverage areas.</dd>
                          </li>
                          <li class="list-group-item">
                            <dt>Survey implementer</dt>
                            <dd>TNS-RMS Nigeria (private firm)</dd>
                          </li>
                        </ul>
                        <div class="card-body">
                          <a href="https://dataverse.harvard.edu/api/access/datafile/:persistentId?persistentId=doi:10.7910/DVN/CXNXEZ/OVT8EF" class="card-link">Data</a>
                          <!-- <a href="#" class="card-link">Survey instrument</a> -->
                          <a href="https://graemeblair.com/papers/nollywood.pdf" class="card-link">Related paper</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                </div>
                <div class="col-md-4">
                  
                  <div class="card mb-4">
                    <!--<img src="/img/data-nollywood.jpg" class="card-img-top" alt="Survey image">-->
                    <div class="card-body">
                      <h5 class="card-title" style="font-family: 'Merriweather', serif !important;">Survey in Pakistan</h5>
                      <h6 class="card-subtitle mb-2 text-body-secondary">with C. Christine Fair, Neil Malhotra, and Jacob N. Shapiro</h6>
                      <p class="card-text">
                        Attitudes toward non-state armed groups in Pakistan. 
                      </p>
                      <!-- Toggle link placed inside card-body -->
                      <a href="#" data-bs-toggle="collapse" data-bs-target="#pakistanDataCollapse" aria-expanded="false" aria-controls="pakistanDataCollapse">
                        <i class="far fa-arrow-alt-circle-down no-indent"></i> More details
                      </a>
                      <!-- Place the collapse element inside the same card-body -->
                      <div class="collapse mt-3" id="pakistanDataCollapse">
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">
                            <dt>Where</dt>
                            <dd>Punjab, Sindh, Khyber Pakhtunkhwa, and Balochistan provinces</dd>
                          </li>
                          <li class="list-group-item">
                            <dt>When</dt>
                            <dd>April 21, 2009 to May 25, 2009</dd>
                          </li>
                          <li class="list-group-item">
                            <dt>Sampling design</dt>
                            <dd>Urban-rural-province stratified sample of Pakistan Federal Bureau of Statistics primary sampling units</dd>
                          </li>
                          <li class="list-group-item">
                            <dt>Survey implementer</dt>
                            <dd>SocioEconomic Development Consultants (private firm)</dd>
                          </li>
                        </ul>
                        <div class="card-body">
                          <a href="https://dataverse.harvard.edu/api/access/datafile/:persistentId?persistentId=doi:10.7910/DVN/OIHHPE/0LN0GZ" class="card-link">Data</a>
                          <!-- <a href="#" class="card-link">Survey instrument</a> -->
                          <a href="https://graemeblair.com/papers/pakistan.pdf" class="card-link">Related paper</a>
                        </div>
                      </div>
                    </div>
                  </div>

                

                  
                </div>
              </div>
