              <div class="row d-flex justify-content-center">
                <div class="col-12 col-lg-8">
                  <h1>Expert work</h1>
                  <p>{{ expert.intro }}</p>
{% for group in expert.groups %}
{% set matters = expert.matters | for_target | selectattr('group', 'equalto', group.id) | list | by_date_desc %}
{% if matters %}
                  <h2>{{ group.heading }}</h2>
{% if group.get('note') %}
                  <p><i>{{ group.note | markup }}</i></p>
{% endif %}
                  <ul>
{% for matter in matters %}
                    <li>{{ expert.roles[matter.role].site }}, <i>{{ matter.case }}</i>, {{ matter.date | month_year }}, {{ matter.court }}{% if matter.get('with') %} (with {{ matter['with'] | authors }}){% endif %}{% if matter.get('documents') %} ({% for doc in matter.documents %}<a href="{{ doc.url }}">{{ doc.label }}</a>{{ ", " if not loop.last }}{% endfor %}){% endif %}</li>
{% endfor %}
                  </ul>
{% endif %}
{% endfor %}
                </div>
              </div>
              <!-- row -->
