              I'm lucky to work with and learn from a range of graduate and undergraduate students and staff researchers based at UCLA and elsewhere. I'm proud of my record of placing these researchers in Ph.D. programs, jobs in industry and civil society, postdocs, and tenure-track positions.
              <!--<h1 class="my-4">Current research group</h1>
              <div class="container g-0">
                <div class="row">
                  <div class="col-sm-6 col-lg-4">
                    <div class="card mb-3">
                      <div class="row g-0">
                        <div class="col-md-4">
                          <img src="img/group-sofia.webp" class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <h5 class="card-title"><a href="https://co.linkedin.com/in/dankat-sofia-granados-sotelo">Dankat
                              Sofía Granados</a>
                            </h5>
                            <p class="card-text"><small class="text-muted">UCLA Ph.D. student</small></p>
                            <p class="card-text"><span class="fw-bolder">Research interests:</span><br>Effects of conflict on early child
                              development of civilians.
                            </p>
                            <p class="card-text"><span class="fw-bolder">Collaborations:</span><br>Asking about violence randomized experiment</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card mb-3">
                      <div class="row g-0">
                        <div class="col-md-4">
                          <img src="img/group-alyssa.webp" class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <h5 class="card-title"><a href="https://alyssaheinze.github.io/">Alyssa René Heinze</a></h5>
                            <p class="card-text"><small class="text-muted">UC Berkeley Ph.D. student</small></p>
                            <p class="card-text"><span class="fw-bolder">Collaborations:</span><br>Policing randomized trials meta-analysis; Using
                              machine learning to improve the efficiency of meta-analysis
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-lg-4">
                    <div class="card mb-3">
                      <div class="row g-0">
                        <div class="col-md-4">
                          <img src="img/group-dario.webp" class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <h5 class="card-title"><a href="https://www.dariosidhu.com/">Dario Sidhu</a></h5>
                            <p class="card-text"><small class="text-muted">UCLA Ph.D. student</small></p>
                            <p class="card-text"><span class="fw-bolder">Research interests:</span><br>I study the political economy of development.
                            </p>
                            <p class="card-text"><span class="fw-bolder">Collaborations:</span><br>Use of evidence in policy systematic review</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card mb-3">
                      <div class="row g-0">
                        <div class="col-md-4">
                          <img src="img/group-ragini.webp" class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <h5 class="card-title"><a href="https://www.linkedin.com/in/ragini-srinivasan">Ragini
                              Srinivasan</a>
                            </h5>
                            <p class="card-text"><small class="text-muted">UCLA senior</small></p>
                            <p class="card-text"><span class="fw-bolder">Collaborations:</span><br>Asking about violence systematic review;
                              Community policing in the US systematic review
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-lg-4">
                    <div class="card mb-3">
                      <div class="row g-0">
                        <div class="col-md-4">
                          <img src="img/group-elayne.webp" class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <h5 class="card-title"><a href="https://www.elaynestecher.com/">Elayne Stecher</a></h5>
                            <p class="card-text"><small class="text-muted">UCLA Ph.D. student</small></p>
                            <p class="card-text"><span class="fw-bolder">Research interests:</span><br>How can cycles of conflict be interrupted,
                              and
                              what is the role of social structures in that endeavor? I use experiments, field research,
                              and
                              statistical analysis to try to drill down into the causes of conflict and barriers to peace
                              in
                              the Global South.
                            </p>
                            <p class="card-text"><span class="fw-bolder">Collaborations:</span><br>Asking about violence randomized experiment</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>-->
              <h1 class="my-4">Current dissertation students</h1>
              <div class="table-responsive-sm">
                <table class="table align-middle table-striped">
                  <thead class="border-top">
                    <tr>
                      <th scope="col"></th>
                      <th scope="col" class="text-nowrap"></th>
                      <th scope="col" class="text-nowrap">Area of specialty</th>
                      <th scope="col">Dissertation title</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><img src="img/group-rachel.webp" height=50px loading="lazy"></td>
                      <td class="text-nowrap"><a href="https://www.linkedin.com/in/rachel-berwald">Rachel Berwald</a> (co-chair)</td>
                      <td class="text-nowrap">Comparative politics</td>
                      <td>Political Misinformation and Identity in Brazil</td>
                    </tr>
                    <tr>
                      <td><img src="img/group-daniel.webp" height=50px loading="lazy"></td>
                      <td class="text-nowrap"><a href="https://polisci.ucla.edu/person/daniel-carnahan/">Daniel Carnahan</a></td>
                      <td class="text-nowrap">Comparative politics</td>
                      <td>Essays on the political economy of natural resources and climate</td>
                    </tr>
                    <tr>
                      <td><img src="img/group-sofia.webp" height=50px loading="lazy"></td>
                      <td class="text-nowrap"><a href="https://co.linkedin.com/in/dankat-sofia-granados-sotelo">Sofía Granados Sotelo</a></td>
                      <td class="text-nowrap">Comparative politics</td>
                      <td>&mdash;</td>
                    </tr>
                    <tr>
                      <td></td>
                      <td class="text-nowrap">Felipe Fajardo Vanegas</td>
                      <td class="text-nowrap">Comparative politics</td>
                      <td>&mdash;</td>
                    </tr>
                    <tr>
                      <td><img src="img/group-jessica.webp" height=50px loading="lazy"></td>
                      <td class="text-nowrap"><a href="https://polisci.ucla.edu/person/jessica-cobian/">Jessica Cobian</a></td>
                      <td class="text-nowrap">Race and ethnic politics</td>
                      <td>The Emotional Effects of Xenophobic Rhetoric on Latino Immigration Attitudes</td>
                    </tr>
                    <tr>
                      <td><img src="img/group-samyu.webp" height=50px loading="lazy"></td>
                      <td class="text-nowrap"><a href="https://www.samyucomandur.com/">Samyu Comandur</a></td>
                      <td class="text-nowrap">Race and ethnic politics</td>
                      <td>Abortion Politics</td>
                    </tr>
                    <tr>
                      <td><img src="img/group-emily-ortiz.webp" height=50px loading="lazy"></td>
                      <td class="text-nowrap"><a href="https://drive.google.com/file/d/1cUP-pyd1OvUdhn_tsPeGb3sRtGNL9j1p/view?usp=drive_link">Emily Ortiz</a></td>
                      <td class="text-nowrap">Race and ethnic politics</td>
                      <td>Latino Adults and the (Re)Surging Appeal of Republican Politics in a Racialized and Polarized America</td>
                    </tr>
                    <tr>
                      <td><img src="img/group-brigid.webp" height=50px loading="lazy"></td>
                      <td class="text-nowrap"><a href="https://www.linkedin.com/in/brigid-morris-09a00223">Brigid Morris</a></td>
                      <td class="text-nowrap">Comparative politics</td>
                      <td>Popular Opinion and Democratization</td>
                    </tr>
                    <tr>
                      <td><img src="img/group-dario.webp" height=50px loading="lazy"></td>
                      <td class="text-nowrap"><a href="https://www.dariosidhu.com">Dario Sidhu</a> (co-chair)</td>
                      <td class="text-nowrap">Comparative politics</td>
                      <td>Essays on evidence in policy</td>
                    </tr>
                    <tr>
                      <td><img src="img/group-elayne.webp" height=50px loading="lazy"></td>
                      <td class="text-nowrap"><a href="https://www.elaynestecher.com">Elayne Stecher</a> (co-chair)</td>
                      <td class="text-nowrap">Comparative politics</td>
                      <td>War, Interrupted: How Stress and Exposure to Violence in Conflict Zones Shape Behavior and
Attitudes and the Role of Psychosocial Support in Preventing Conflict Recurrence</td>
                    </tr>
                    <tr>
                      <td><img src="img/group-carolyn.webp" height=50px loading="lazy"></td>
                      <td><a href="https://www.linkedin.com/in/carolyn-steinle-2932a0115">Carolyn Steinle</a> (co-chair)</td>
                      <td class="text-nowrap">Comparative politics</td>
                      <td>Age-Set or Kinship Based Social Structure in Ethnic Politics</td>
                    </tr>
                    
                  </tbody>
                </table>
              </div>
              <h1 class="my-4 pt-3">Alumni</h1>
              <div class="table-responsive-sm">
                <table class="table align-middle table-striped">
                  <thead class="border-top">
                    <tr>
                      <th scope="col"></th>
                      <th scope="col"></th>
                      <th scope="col">Role</th>
                      <th scope="col">Placement (next position)</th>
                    </tr>
                  </thead>
                  <tbody>
					<tr>
                      <td><img src="img/group-alfredo.webp" height=50px loading="lazy"></td>
                      <td><a href="https://www.alfredotrejoiii.com">Alfredo Trejo III</a></td>
                      <td class="text-nowrap">Dissertation committee</td>
					  <td></td>
                    </tr>
                    <tr>
                      <td><img src="img/group-jiyoung.webp" height=50px loading="lazy"></td>
                      <td><a href="https://jiyoungestherkim.github.io">Jiyoung Kim</a></td>
                      <td>Dissertation committee</td>
                      <td>Assistant Professor of Political Science, Michigan State University</td>
                    </tr>
                    <tr>
                      <td><img src="img/group-ryan.webp" height=50px loading="lazy"></td>
                      <td><a href="https://ryanbk.github.io">Ryan Baxter-King</a></td>
                      <td>Dissertation committee</td>
                      <td>Assistant Professor of Political Science, University of Nevada, Reno</td>
                    </tr>
                    <tr>
                      <td><img src="img/group-ragini.webp" height=50px loading="lazy"></td>
                      <td><a href="https://www.linkedin.com/in/ragini-srinivasan">Ragini Srinivasan</a></td>
                      <td>Undergraduate research assistant</td>
                      <td>Ph.D. student in economics, MIT</td>
                    </tr>
                    <tr>
                      <td><img src="img/group-guanzhang.webp" height=50px loading="lazy"></td>
                      <td><a href="https://www.linkedin.com/in/guanzhang-zhao-1669351a9">Guanzhang Zhao</a></td>
                      <td>Undergraduate research assistant</td>
                      <td>Ph.D. student in economics, Yale</td>
                    </tr>
                    <tr>
                      <td><img src="img/group-safa.webp" height=50px loading="lazy"></td>
                      <td><a href="https://www.linkedin.com/in/safa-saleem-5394541b2">Safa Saleem</a></td>
                      <td>Undergraduate research assistant</td>
                      <td>Legal assistant, law firm</td>
                    </tr>
                    <tr>
                      <td><img src="img/group-jihae.webp" height=50px loading="lazy"></td>
                      <td><a href="https://www.linkedin.com/in/jihaehong">Jihae Hong</a></td>
                      <td>Staff researcher</td>
                      <td>Advisor, Auschwitz Institute for the Prevention of Genocide and Mass Atrocities</td>
                    </tr>
                    <tr>
                      <td><img src="img/group-cesar.webp" height=50px loading="lazy"></td>
                      <td><a href="https://www.cesarbmartinez.com/">Cesar B. Martinez-Alvarez</a></td>
                      <td>Dissertation committee</td>
                      <td>Postdoctoral fellow, Yale<br>Assistant Professor of Political Science, UCSB</td>
                    </tr>
                    <tr>
                      <td><img src="img/group-aaron.webp" height=50px loading="lazy"></td>
                      <td><a href="https://github.com/aaronrudkin">Aaron Rudkin</a></td>
                      <td>Graduate student researcher</td>
                      <td>Postdoctoral fellow, MIT</td>
                    </tr>
                    <tr>
                      <td><img src="img/group-luke.webp" height=50px loading="lazy"></td>
                      <td><a href="https://lukesonnet.com/">Luke Sonnet</a></td>
                      <td>Graduate student researcher</td>
                      <td>Lead data scientist, GrowthBook</td>
                    </tr>
                    <tr>
                      <td><img src="img/group-valerie.webp" height=50px loading="lazy"></td>
                      <td><a href="https://valeriewirtschafter.com/">Valerie Wirtschafter</a></td>
                      <td>Dissertation committee; graduate student researcher</td>
                      <td>Data analyst, Brookings Institution</td>
                    </tr>
                    <tr>
                      <td><img src="img/group-fatiq.webp" height=50px loading="lazy"></td>
                      <td><a href="https://www.fatiqnadeem.com/">Fatiq Nadeem</a></td>
                      <td>Staff researcher</td>
                      <td>Ph.D. student, UCSB Bren School</td>
                    </tr>
                    <tr>
                      <td><img src="img/group-emily.webp" height=50px loading="lazy"></td>
                      <td><a href="https://www.linkedin.com/in/emily-allendorf">Emily Allendorf</a></td>
                      <td>Undergraduate research assistant</td>
                      <td>Quantitative research assistant, RAND Corporation</td>
                    </tr>
                    <tr>
                      <td><img src="img/group-sebastian.webp" height=50px loading="lazy"></td>
                      <td><a href="https://www.linkedin.com/in/jsleivamolano">J. Sebastián Leiva M.</a></td>
                      <td>Staff researcher</td>
                      <td>M.P.P student, Princeton</td>
                    </tr>
                    <tr>
                      <td><img src="img/group-jasmine.webp" height=50px loading="lazy"></td>
                      <td><a href="https://www.linkedin.com/in/jasmine-miller-ab2b6114a">Jasmine Miller</a></td>
                      <td>Staff researcher</td>
                      <td>Researcher, Give Directly</td>
                    </tr>
                    <tr>
                      <td><img src="img/group-min.webp" height=50px loading="lazy"></td>
                      <td><a href="https://minwoosun.github.io/">Min Woo Sun</a></td>
                      <td>Undergraduate research assistant</td>
                      <td>Ph.D. student in biomedical data science, Stanford</td>
                    </tr>
                    <tr>
                      <td><img src="img/group-neal.webp" height=50px loading="lazy"></td>
                      <td><a href="https://www.linkedin.com/in/nfultz">Neal Fultz</a></td>
                      <td>Staff researcher</td>
                      <td>Independent data science consultant</td>
                    </tr>
                  </tbody>
                </table>
              </div>
