{% from 'macros/paper.html.j2' import paper %}
{% set pubs = publications.publications | for_target %}
              <div class="row gx-5">
{% for col in publications.columns %}
                <div class="col-md-6">
                  <h1>{{ col.heading }}</h1>
{% if col.get('award') %}
                  <p class="paper-links"><a href="{{ col.award.url }}"><i class="{{ site.link_icons.Trophy }}"></i>{{ col.award.text }}</a></p>
{% endif %}
{% for kind, label in [('book', 'Book'), ('article', 'Articles')] %}
{% set group = pubs | selectattr('column', 'equalto', col.id) | selectattr('kind', 'equalto', kind) | list %}
{% if group %}
                  <p class="fs-18p fw-bolder"{% if kind == 'article' %} style="clear: both; padding-top: 20px;"{% endif %}>{{ label }}</p>
{% for pub in group %}
{% if pub.get('cover') %}
                  <p><a href="{{ pub.cover_url }}"><img src="{{ pub.cover }}" style="border: 1px solid #555;margin-right:25px;float:left;width:100px;height:142.83333px; filter: drop-shadow(3px 3px 0px #d3d3d3);"></a></p>
{% endif %}
{{ paper(pub, site.link_icons) }}
{% endfor %}
{% endif %}
{% endfor %}
                </div>
{% endfor %}
              </div>
              <!-- end row -->
