{% from 'macros/linkrow.html.j2' import linkrow, chevron %}
              <div class="row gx-5">
                <div class="col-md-7">
{% for group in software.groups %}
                  <h1{% if group.get('heading_style') %} style="{{ group.heading_style }}"{% endif %}>{{ group.heading }}</h1>
{% if group.get('awards') %}
                  <p class="paper-links">{% for award in group.awards %}<a href="{{ award.url }}"><i class="{{ site.link_icons.Trophy }}"></i>{{ award.text }}</a>{% endfor %}</p>
{% endif %}
{% for pkg in software.packages if pkg.group == group.id %}
                  <p class="paper-title">&ldquo;<b>{{ pkg.name }}</b>: {{ pkg.site_title }}&rdquo; R package. With {{ pkg.authors | authors }}. ~{{ cran_downloads[pkg.name] | downloads }} downloads.
                    &nbsp;{{ chevron(pkg.get('slug', pkg.name | lower)) }}
                  </p>
                  <div class="collapse abstract" id="{{ pkg.get('slug', pkg.name | lower) }}Abstract">
                    {{ linkrow(pkg.links, site.link_icons, pkg.cite) }}
                  </div>
{% endfor %}
{% endfor %}
                </div>
                <div class="col-md-5" >
                  <div class="card mb-3">
                    <div class="row g-0">
                      <div class="col-md-12">
                        <div class="card-body">
                          <h5 class="card-title" style="font-family: 'Merriweather', serif !important;">Getting started with DeclareDesign</h5>
                          <p class="card-text">DeclareDesign is a set of software tools to plan, implement, analyze, and communicate about empirical research.</p>
                          <p><a href="https://book.declaredesign.org"><img src="img/rdss-cover.avif" style="border: 1px solid #555;margin-left:25px;margin-bottom:25px;float:right;width:100px;height:142.83333px"></a></p>
                          <p>Our book, <i>Research Design in the Social Sciences</i> is the best place to start.</p>
                          <p>To learn about the approach, read Part I and II. For examples that help apply the approach to many common research designs, read Part III. For ideas on incorporating these ideas into the lifecycle of your project, read Part IV. You can buy the book on <a href="https://www.amazon.com/Research-Design-Social-Sciences-Declaration/dp/0691199574/ref=sr_1_3?crid=3OWFXGAN7B5XD&keywords=graeme+blair&qid=1675139589&sprefix=graeme+blair%2Caps%2C228&sr=8-3">Amazon</a> or <a href="https://book.declaredesign.org">read it free online</a>.</p>
                          <p>Start with:</p>
                          <ul>
                            <li>Read <a href="https://book.declaredesign.org/introduction/what-is-a-research-design.html">Chapter 2</a> for a first introduction to the framework.
                            <li>Read <a href="https://book.declaredesign.org/declaration-diagnosis-redesign/declaration-in-code.html">Chapter 13</a> for an introduction to the software.
                            <li><a href="https://declaredesign.org">declaredesign.org</a> includes documentation for each of the software packages including further examples.
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
