              <div class="row gx-5">
                <div class="col-md-7">
                  <h1>Research design planning and implementation</h1>
                  <p class="paper-links"><a href="https://www.cambridge.org/core/membership/spm/about-us/awards/statistical-software-award"><i class="fas fa-trophy paper-icon"></i>Polmeth Statistical Software Award</a><a href="https://improvingpsych.org/mission/awards/"><i class="fas fa-trophy paper-icon"></i>SIPS Commendation</a></p>
                  <p class="paper-title">&ldquo;<b>DeclareDesign</b>: Declare and Diagnose Research Designs.&rdquo; R package. With Jasper Cooper, Alexander Coppock, Macartan Humphreys, and Neal Fultz. ~85,000 downloads. &nbsp;<a href="#" data-bs-toggle="collapse" data-bs-target="#declaredesignAbstract" aria-expanded="false" aria-controls="declaredesignAbstract"><i class="far fa-arrow-alt-circle-down no-indent"></i></a></p>
                  <div class="collapse abstract" id="declaredesignAbstract">
                    <p class="paper-links"><a href="https://declaredesign.org/r/declaredesign/"><i class="fas fa-globe-americas paper-icon"></i>Web</a><a href="#citation" data-citation="blair2016declaredesign"><i class="fas fa-quote-left"></i>Cite</a><a href="https://raw.githubusercontent.com/rstudio/cheatsheets/master/declaredesign.pdf"><i class="fas fa-info-circle paper-icon"></i>Cheatsheet</a></p>
                  </div>
                  <p class="paper-title">&ldquo;<b>estimatr</b>: Fast Estimators for Design-Based Inference.&rdquo; R package. With Jasper Cooper, Alexander Coppock, Macartan Humphreys, and Luke Sonnet. ~220,000 downloads.
                    &nbsp;<a href="#" data-bs-toggle="collapse" data-bs-target="#estimatrAbstract" aria-expanded="false" aria-controls="estimatrAbstract"><i class="far fa-arrow-alt-circle-down no-indent"></i></a>
                  </p>
                  <div class="collapse abstract" id="estimatrAbstract">
                    <p class="paper-links"> <a href="https://declaredesign.org/r/estimatr/"><i class="fas fa-globe-americas paper-icon"></i>Web</a><a href="#citation" data-citation="blair2018estimatr"><i class="fas fa-quote-left"></i>Cite</a><a href="https://raw.githubusercontent.com/rstudio/cheatsheets/master/estimatr.pdf"><i class="fas fa-info-circle paper-icon"></i>Cheatsheet</a></p>
                  </div>
                  <p class="paper-title">&ldquo;<b>fabricatr</b>: Imagine Your Data Before You Collect It.&rdquo; R package. With Jasper Cooper, Alexander Coppock, Macartan Humphreys, Aaron Rudkin, and Neal Fultz. ~95,000 downloads.
                    &nbsp;<a href="#" data-bs-toggle="collapse" data-bs-target="#fabricatrAbstract" aria-expanded="false" aria-controls="fabricatrAbstract"><i class="far fa-arrow-alt-circle-down no-indent"></i></a>
                  </p>
                  <div class="collapse abstract" id="fabricatrAbstract">
                    <p class="paper-links"><a href="https://declaredesign.org/r/fabricatr/"><i class="fas fa-globe-americas paper-icon"></i>Web</a><a href="#citation" data-citation="blair2018fabricatr"><i class="fas fa-quote-left"></i>Cite</a></p>
                  </div>
                  <h1 style="padding-top: 10px; padding-bottom:5px">Analyzing surveys with sensitive questions</h1>
                  <p class="paper-title">&ldquo;<b>list</b>: Statistical Methods for the Item Count Technique and List Experiment.&rdquo; R package. With Kosuke Imai. ~180,000 downloads.
                    &nbsp;<a href="#" data-bs-toggle="collapse" data-bs-target="#listPkgAbstract" aria-expanded="false" aria-controls="listPkgAbstract"><i class="far fa-arrow-alt-circle-down no-indent"></i></a>
                  </p>
                  <div class="collapse abstract" id="listPkgAbstract">
                    <p class="paper-links"><a href="https://list.sensitivequestions.org/"><i class="fas fa-globe-americas paper-icon"></i>Web</a><a href="#citation" data-citation="blair2010list"><i class="fas fa-quote-left"></i>Cite</a></p>
                  </div>
                  <p class="paper-title">&ldquo;<b>rr</b>: Statistical Methods for the Randomized Response Technique.&rdquo; R package. With Yang-Yang Zhou and Kosuke Imai. ~65,000 downloads.
                    &nbsp;<a href="#" data-bs-toggle="collapse" data-bs-target="#rrAbstract" aria-expanded="false" aria-controls="rrAbstract"><i class="far fa-arrow-alt-circle-down no-indent"></i></a>
                  </p>
                  <div class="collapse abstract" id="rrAbstract">
                    <p class="paper-links"> <a href="https://rr.sensitivequestions.org/"><i class="fas fa-globe-americas paper-icon"></i>Web</a><a href="#citation" data-citation="blair2015rr"><i class="fas fa-quote-left"></i>Cite</a></p>
                  </div>
                </div>
                <div class="col-md-5" >
                  <div class="card mb-3">
                    <div class="row g-0">
                      <div class="col-md-12">
                        <div class="card-body">
                          <h5 class="card-title" style="font-family: 'Merriweather', serif !important;">Getting started with DeclareDesign</h5>
                          <p class="card-text">DeclareDesign is a set of software tools to plan, implement, analyze, and communicate about empirical research.</p>
                          <p><a href="https://book.declaredesign.org"><img src="img/rdss-cover.avif" style="border: 1px solid #555;margin-left:25px;margin-bottom:25px;float:right;width:100px;height:142.83333px"></a></p>
                          <p>Our book, <i>Research Design in the Social Sciences</i> is the best place to start.</p>
                          <p>To learn about the approach, read Part I and II. For examples that help apply the approach to many common research designs, read Part III. For ideas on incorporating these ideas into the lifecycle of your project, read Part IV. You can buy the book on <a href="https://www.amazon.com/Research-Design-Social-Sciences-Declaration/dp/0691199574/ref=sr_1_3?crid=3OWFXGAN7B5XD&keywords=graeme+blair&qid=1675139589&sprefix=graeme+blair%2Caps%2C228&sr=8-3">Amazon</a> or <a href="https://book.declaredesign.org">read it free online</a>.</p>
                          <p>Start with:</p>
                          <ul>
                            <li>Read <a href="https://book.declaredesign.org/introduction/what-is-a-research-design.html">Chapter 2</a> for a first introduction to the framework.
                            <li>Read <a href="https://book.declaredesign.org/declaration-diagnosis-redesign/declaration-in-code.html">Chapter 13</a> for an introduction to the software.
                            <li><a href="https://declaredesign.org">declaredesign.org</a> includes documentation for each of the software packages including further examples.
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
