              <div class="row d-flex justify-content-center">
                <div class="col-12 col-lg-8">
                  <h1>Courses at {{ teaching.institution }}</h1>
{% for course in teaching.courses | for_target %}
{% if course.get('intro') %}
                  <p>{{ course.get('intro') }}</p>
{% endif %}
                  <p{% if course.get('intro') %} style="margin-top:-10px"{% endif %}>{{ teaching.site_prefix }} {{ course.number }}: {{ course.title | titlecase }} ({{ teaching.levels[course.level].site }}).{% if course.get('next') %} Next: {{ course.get('next') }}.{% endif %} <a href="{{ course.syllabus }}">Syllabus</a></p>
{% endfor %}
                  <hr width="25%" style="margin-top:30px;margin-bottom:25px">
                  <p>{{ teaching.site_footer }}</p>
                </div>
              </div>
              <!-- row -->
