              <div class="row d-flex justify-content-center">
                <div class="col-12 col-lg-8">
                  <h1>Courses at UCLA</h1>
                  <p>POL SCI 150: Political Violence (undergraduate). Next: Winter 2026. <a href="teaching/UCLA_PS150_Syllabus.pdf">Syllabus</a></p>
                  <p>POL SCI 170A: Randomized Trials for Social Change (undergraduate).  <a href="teaching/UCLA_PS179_Syllabus.pdf">Syllabus</a></p>
                  <p>POL SCI 200E: Experimental Design for Social Science (Ph.D. seminar). Next: Winter 2026. <a href="teaching/UCLA_PS200E_Syllabus.pdf">Syllabus</a></p>
                  <p>POL SCI 292B: Research Design (Ph.D. seminar).  <a href="teaching/UCLA_PS292B_Syllabus.pdf">Syllabus</a></p>
                  <p>POL SCI 240a/b: Comparative Politics Field Seminar (Ph.D. seminar).  <a href="teaching/UCLA_PS240a_Fall2016.pdf">Syllabus</a></p>
                  <p>I developed a course taught by a graduate student to introduce first year graduate students to the R statistical programming language:</p>
                  <p style="margin-top:-10px">POL SCI 200X: Statistical programming for social science. (Ph.D. seminar).  <a href="teaching/UCLA_PS200X_Syllabus.pdf">Syllabus</a></p>
                  <hr width="25%" style="margin-top:30px;margin-bottom:25px">
                  <p>I regularly teach short courses on experimental design and planning, including on DeclareDesign. I'm happy to share materials.</p>
                </div>
              </div>
              <!-- row -->
