      <div class="modal fade" id="citationModal" tabindex="-1" role="dialog" aria-labelledby="citationModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="citationModalLabel">Cite</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <fieldset class="mb-3">
                <label for="citation-format">Output format</label>
                <select id="citation-format">
                  <option value="bibliography">Formatted bibliography</option>
                  <option value="bibtex">BibTeX</option>
                  <option value="biblatex">BibLaTeX</option>
                  <option value="data">CSL-JSON</option>
                  <option value="ris">RIS</option>
                </select>
              </fieldset>
              <fieldset class="mb-3" id="fieldset-bibliography" style="display: none;">
                <label for="citation-style">Style</label>
                <select id="citation-style">
                  <option value="apa">APA</option>
                  <option value="vancouver">Vancouver</option>
                  <option value="harvard1">Harvard</option>
                  <option value="mla">MLA</option>
                  <option value="chicago1">Chicago</option>
                </select>
              </fieldset>
              <div class="mb-3" id="citation-error"></div>
              <div id="citation-output"></div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary copy-citation">Copy Citation</button>
            </div>
          </div>
        </div>
      </div>
