      <div class="jumbotron bg-cover px-2 py-4 mb-4" style="background-image: linear-gradient(to bottom, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0.3) 100%), url(img/jumbotron.webp)">
        <div class="container my-sm-5" style="background-color: rgba(255, 255, 255, 0.9)">
          <div class="row justify-content-md-center py-4 px-2">
            <div class="col-lg-3 col-md-5">
              <figure class="figure m-0">
                <img src="img/graeme.webp" class="figure-img img-fluid rounded m-0" height="500">
              </figure>
            </div>
            <div class="col-lg-9 col-md-8 my-auto">
              <div class="row">
                <div class="col-lg-6">
                  <h1 class="mt-3 mt-lg-0" style="font-weight: 400; font-family: 'Merriweather', serif !important; font-size: 20pt">Graeme Blair</h1>
                  <h5 style="font-weight: 200;margin-bottom:10px">Professor of Political Science<br>UCLA</h5>
                  <h6 style="font-weight: 200;margin-bottom:10px">Co-director, <a href="https://deportationdata.org">Deportation Data Project</a></h6>
                  <h5 class="my-2">
                    <span class="align-middle">
                    <a class="align-middle" href="GraemeBlair-CV.pdf" target="_blank" rel="noopener"><i class="align-middle ai ai-cv ai-1x" style="margin-right:2px"></i></a>
                    <a class="align-middle" href="https://github.com/graemeblair" target="_blank" rel="noopener"><i class="align-middle fab fa-github fa-1x" style="margin-right:2px"></i></a>
                    <a class="align-middle" href="https://orcid.org/0000-0001-9164-2102" target="_blank" rel="noopener"><i class="align-middle ai ai-orcid ai-1x" style="margin-right:2px"></i></a>
                    <a class="align-middle" href="https://scholar.google.com/citations?user=0hbap6YAAAAJ" target="_blank" rel="noopener"><i class="align-middle ai ai-google-scholar ai-1x" style="margin-right:2px"></i></a>
                    <a class="align-middle" href="#" data-bs-toggle="modal" data-bs-target="#bioModal" style="margin-left:15px;font-size: 10pt;" class="text-nowrap"><i class="fa-solid fa-user fa-1x" style="margin-right:7px"></i>Bio</a>
                    <a class="align-middle" href="https://cal.com/graemeblair" style="margin-left:10px; font-size: 10pt;" class="text-nowrap"><i style="margin-right:7px" class="fa-regular fa-calendar-days"></i>Student appointments</a>
                    </span>
                  </h5>
                </div>
                <div class="col-lg-6 col-md-11 mt-lg-auto my-auto">
                  <p class="lh-md">I study state violence and how to make social science more credible, ethical, and useful.</p>
				  <p>I am on sabbatical through July 2027, and will be a fellow at the <a href="https://casbs.stanford.edu/">Center for Advanced Study in the Behavioral Sciences</a> at Stanford University.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
